* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
}


*::-webkit-scrollbar {

    display: none;

}

body {
    margin: 0%;
}



.header {
    padding: 0px;
    z-index: 100;
}

.flex-nav {
    display: flex;
    color: #ffffff;
    height: 9vh;
    gap: 30px;
    padding: 20px;
    width: 100%;
    margin: auto;
    background: rgb(0, 0, 0);
    padding: 15px 20px;
}

.flex-nav>img {
    margin: 10px;
    margin-left: 20px;
    cursor: pointer;
}

img {
    cursor: pointer;
}

#i-am-sup {
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius: 50%;
    font-weight: bold;
    position: relative;
    bottom: 30px;
    right: 20px;
}


.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 102px;
}

#top-header-nav-op {
    background-color: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.507);
    line-height: 1px;
    display: flex;
    height: 5vh;
    overflow: hidden;

}

#top-header-nav-op>img {
    margin: 0vh 15vh;
}

#top-header-nav-op>div {
    display: flex;
    margin: 10px;
    gap: 20px;
    justify-self: center;
}

#top-header-nav-op>div>a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5vh;
    border-right: 1px solid white;
    justify-self: center;
    padding: 5px;
    transition: 1s;
}

#top-header-nav-op>div>a:hover {
    color: black;
    background-color: white;
}


/* Drop down css # 1 in navbar */
.dropbtn-nav {
    background-color: rgba(255, 255, 255, 0.199);
    color: white;
    border: none;
    padding: 10px;
    width: 70vh;
    border-radius: 5px;
    margin: 10px;
    font-size: 2.5vh;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.dropdown-nav {
    position: relative;
    display: inline-block;
    transition: 1s ease-in-out;
}

.dropdown-content-nav {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 75vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    border-radius: 10px;
    margin-top: -60px;
}

.dropdown-content-nav>h1 {
    color: black;
    border-bottom: 1px solid grey;
    font-size: 3vh;
    padding: 5px;
}

.dropdown-content-nav a {
    color: black;
    text-decoration: none;
    display: block;
    border: 2px solid transparent;
    border-left: 2px solid red;
    padding-left: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 2.2vh;
    transition: 1s ease-in-out;

}

.dropdown-content-nav>input {
    background-color: rgba(255, 255, 255, 0.199);
    color: black;
    border: 1px solid red;
    padding: 10px;
    width: 70vh;
    border-radius: 5px;
    margin: 10px;
    font-size: 2.5vh;
    cursor: pointer;
    transition: 1s ease-in-out;
}




.dropdown-content-nav a:hover {
    color: red;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 20px;
}

.dropdown-content-nav a:active {
    transition: 200ms;
    color: white;
    background-color: red;
    border: 2px solid red;
    border-radius: 20px;
}

.dropdown-nav:hover .dropdown-content-nav {
    display: block;
    transition: 1s;
}




/* Drop down css # 2 in navbar */

.dropbtn-nav-sign {
    background-color: rgba(255, 255, 255, 0);

    color: white;
    border: 1px solid white;
    padding: 10px;
    width: 20vh;
    border-radius: 5px;
    margin: 10px;
    font-size: 2.5vh;
    cursor: pointer;
    transition: 1s ease-in-out;
}

.dropbtn-nav-sign:hover {
    background-color: white;
    color: black;
}

.dropdown-nav-sign {
    position: relative;
    display: inline-block;
}

.dropdown-content-nav-sign {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 20vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 1;
    padding: 10px;
    border-radius: 10px;

}

.dropdown-content-nav-sign>p {
    color: black;
    font-size: 1.8vh;
}

#red-nav-sign {
    background-color: red;
    color: white;
    border: 1px solid red;
    padding: 10px 20px;
    width: fit-content;
    margin: 0px 20px;
    border-radius: 5px;
    font-size: 2.5vh;
    transition: 400ms ease-in-out;
    cursor: pointer;
}

#red-nav-sign:hover {
    background-color: white;
    color: red;

}

.dropdown-nav-sign:hover .dropdown-content-nav-sign {
    display: block;
}





/* mini nav */


#mini-nav {
    display: flex;
    width: 100%;
    background-color: white;
    margin: auto;
    border-bottom: 1px solid grey;
    flex-wrap: nowrap;
    gap: 10px;
}







/* Drop down css # 1 in mininavbar */
.dropbtn-mininav-one {
    background-color: rgba(255, 255, 255, 0.199);
    color: black;
    border: none;
    font-size: 2vh;
    cursor: pointer;
    transition: 100ms ease-in-out;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
    padding: 5px;
}

.dropbtn-mininav-one:hover {
    border-bottom: 4px solid red;
}

.dropdown-mininav-one {
    position: relative;
    display: inline-block;
    transition: 1s ease-in-out;
}

.dropdown-content-mininav-one {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 1;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
    width: 100vh;
    right: 0vh;
    left: 0vh;
}

.dropdown-content-mininav-two {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 1;
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
    width: 100vh;
    right: 0vh;
}

.dropdown-content-mininav-one>div {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.dropdown-content-mininav-one>div>div>h1 {
    font-size: 2.1vh;
    text-transform: uppercase;
}

.dropdown-content-mininav-one>div>div>h2 {
    font-size: 1.5vh;
    color: blue;
}

.dropdown-content-mininav-one>div>div a {
    width: 100%;
    display: inline-block;
    font-size: 2vh;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 2px;
    border-radius: 5px;
    transition: 500ms;
}

.dropdown-content-mininav-one>div>div a:hover {
    color: black;
    border: 2px solid red;
    color: red;

}

.dropdown-content-mininav-one>div>div a:active {
    color: white;
    border: 2px solid red;
    background-color: red;
}
























.dropdown-content-mininav-two>div {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

.dropdown-content-mininav-two>div>div>h1 {
    font-size: 2.1vh;
    text-transform: uppercase;
}

.dropdown-content-mininav-two>div>div>h2 {
    font-size: 1.5vh;
    color: blue;
}

.dropdown-content-mininav-two>div>div a {
    width: 100%;
    display: inline-block;
    font-size: 2vh;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 2px;
    border-radius: 5px;
    transition: 500ms;
}

.dropdown-content-mininav-two>div>div a:hover {
    color: black;
    border: 2px solid red;
    color: red;

}

.dropdown-content-mininav-two>div>div a:active {
    color: white;
    border: 2px solid red;
    background-color: red;
}



.dropdown-mininav-one:hover .dropdown-content-mininav-one {
    display: block;
}

.dropdown-mininav-one:hover .dropdown-content-mininav-two {
    display: block;
}













/* Doned navbar hahahahahaahaaaaaaaaaaaaa */








#slider {
    display: inline-block;
    width: 100%;
    height: 50vh;
}

#slider>iframe {
    width: 100%;
    height: 100%;
    border: none;
}




/* Lets start Main content */

.boxes {
    text-align: center;
    max-width: 200vh;
    margin: auto;
}

.top-heading {
    font-weight: normal;
    font-size: 4vh;
    border-bottom: 3px solid rgb(0, 0, 179);
    width: fit-content;
    margin: auto;
    padding: 5px;

}


.box1 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;

}

img {
    transition: 1s ease-in-out;
}

img:hover {
    transform: scale(0.9);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.box1-flex {
    display: block;
    flex-wrap: wrap;
}

.card {
    padding: 10px;
    border-radius: 20px;
    transition: 1s ease-in-out;
}

.card:hover {
    transform: scale(0.9);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card img {
    width: 100%;
    transition: none;
    transform: scale(0.7);
    box-shadow: none;
}

.card>h1 {
    font-size: 2vh;
    text-align: left;
}

.card>p {
    font-size: 2vh;
    text-align: left;
    color: green;
}


.card>h2 {
    font-size: 2.2vh;
    text-align: left;
    color: red;
}



























/* start of footer */

footer {
    background-color: black;
}


#footer-1 {
    display: grid;
    grid-template-columns: auto auto auto auto 30%;
    color: white;
    gap: 40px;
    width: 90%;
    margin: auto;
    padding: 40px;
}

#footer-1 h1 {
    font-size: 2.5vh;
    border-bottom: 1px solid rgb(184, 0, 0);
    width: fit-content;
    padding: 10px;
    color: grey;
}

#footer-1 a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: grey;
    margin: 4px;
    border: 2px solid black;
    padding: 1px 10px;
    transition: 1s;
}

#footer-1 a:hover {
    border-radius: 10px;
    border: 2px solid white;
    color: white;
}

#footer-1 a:active {
    transition: 100ms;
    border-radius: 10px;
    border: 2px solid white;
    color: black;
    background: white;
}

#footer-last>p {
    color: grey;
    font-size: 2vh;
}

#footer-last>input {
    color: grey;
    font-size: 2vh;
    width: 100%;
    padding: 10px;
}


.footer-1-flex {
    display: flex;
    gap: 5px;
}

.footer-1-flex img{
    width: 100%;
    height: 5vh;
}

#footer-2>img{
width: 40vh;
margin-left: 40%;
}

#footer-2>div{
    display: flex;
    width: 80%;
    gap: 5px;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
}

#footer-2 a{
    display: inline-block;
    width: fit-content;
    border: 1px solid black;
    border-right: 1px solid grey;
    padding: 0px 10px;
    font-size: 2vh;
    text-decoration: none;
    color: grey;
    text-align: center;
    transition: 500ms;
}

#footer-2 a:hover{
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

#footer-2 a:active{
    border: 1px solid white;
    border-radius: 10px;
    color: black;
    background-color: white;
}

.footer-3{
    background: white;
    display: flex;
    padding: 0px 300px;
    gap: 20px;

}

.footer-3 img{
    width: 20vh;
    padding: 20px;
}

.footer-4{
    padding: 40px;
}

.footer-4 p{
    color: grey;
    width: 90%;
    margin: auto;
    font-size: 2vh;
    line-height: 20px;
    margin-bottom: 30px;
}

.footer-last{
    color: white;
    text-align: center;
    font-size: 1.5vh;
    padding-bottom: 100px;
    background: black;
}